<div class="row-container">
    <h3 class="header-text">Grocery update records</h3>
    <button mat-raised-button class="back-button" color="accent" [routerLink]="['/grocery/item', userId]">Back</button>
</div>
<hr>
<ng-container *ngIf="itemRecords; else NoRecords">
    <table mat-table [dataSource]="itemRecords" class="mat-elevation-z8">
        <ng-container matColumnDef="action">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.action }}</td>
        </ng-container>
        <ng-container matColumnDef="itemName">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Item Name</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.item.itemName }}</td>
        </ng-container>
        <ng-container matColumnDef="topupAmount">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Topup Amount</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.item.topupAmount }}</td>
        </ng-container>
        <ng-container matColumnDef="safetyStock">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Safety Stock</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.item.safetyStock }}</td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Unit</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.item.unit }}</td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th class="table-header" mat-header-cell *matHeaderCellDef><strong>Time stamp</strong></th>
            <td class="table-text" mat-cell *matCellDef="let record">{{ record.updateDatetime }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['action', 'itemName', 'topupAmount', 'safetyStock', 'unit', 'timestamp']"></tr>
        <tr mat-row *matRowDef="let record; columns: ['action', 'itemName', 'topupAmount', 'safetyStock', 'unit', 'timestamp']"></tr>
    </table>
</ng-container>

<ng-template #NoRecords>
    <p class="empty-text">No record</p>
</ng-template>

