.success-text {
    color: #4caf50;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Galindo', cursive;
    font-size: 24px;
  }
  
  .back-button {
    background-color: #eaf945;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Galindo', cursive;
  }
  
  .back-button:hover {
    background-color: #c2d32f;
    outline: 2px solid #2a88a4;
    box-shadow: 0px 10px 20px rgba(67, 171, 178, 0.827);
  }

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  